*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background: url(/Proyecto/img/FondoWebCube.png);
  color: black;
}

a{
  color: black;
  text-decoration: blue;
}

ul{
  list-style: none;
}

/* Navegation top*/
.nav-main{
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:  100px;
  width: 100%;
  padding: 20px;
  background: rgb(245, 159, 61);
  position:relative;
  z-index:50;
}

.nav-Logo{
  width: 160px;
}

.search-box{
  /*background: white;*/
  background: rgb(112, 112, 112);
  transform: translate(0%,0%);
  border-radius: 40px;
  padding: 5px;
}

.search-box ::placeholder{

 color: white;
}

.search-box:hover >.search-txt{
  height: 20px;
  width: 500px;
  padding: 0 6px;
}

/*
.search-box input{
  height: 20px;
  width: 500px;
}
*/

.search-txt{
width: 100px;
border: none;
background: none;
outline: none;
float: left;
padding: 0;
color: rgb(255, 255, 255);
font-size: 16px;
transition: 0.5s;
line-height: 25px;
}

.search-btn{
color:  rgb(218, 137, 45);
float: right;
}

.nav_links{
  position: relative;
  right: 100px;
}

.nav_links a{
  color: black;
}

.nav_links :hover{
  color: rgb(233, 233, 233);
}


.nav_links :focus{
  color: #555;
}

.nav-main ul li{
  padding: 10px;
}


.action{
  position: relative;
  bottom: 10px;
  right: 30px;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.action .profile{
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.action .profile img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.action .Umenu{
  position: absolute;
  top: 120px;
  right: -10px;
  padding: 10px 20px;
  background: #fff;
  width: 200px;
  box-sizing: 0 5px 25px rgba(0,0,0,0.1);
  border-radius: 15px;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
}

.action .Umenu.active{
  top: 80px;
  visibility: visible;
  opacity: 1;
}

.action .Umenu::before{
  content: '';
  position: absolute;
  top: -5px;
  right: 28px;
  width: 20px;
  height: 20px;
  background: #fff;
  transform: rotate(45deg);

}

.action .Umenu h3{
  width:  100%;
  text-align: center;
  font-size: 18px;
  padding: 20px 0;
  font-weight: 500;
  font-size: 18px;
  color: #555;
  line-height: 1.2em;
}

.action  .Umenu h3 span{
 font-size: 14px;
 color: #cecece;
 font-weight: 400;
}

.action .Umenu ul li{
  list-style: none;
  padding: 10px 0;
  border-top: 1px solid rgba(0,0,0,0.05);
  display: flex;
  align-items: center;
  justify-content: center;
}

.action .Umenu ul li img{
max-width: 20px;
margin-right: 10px;
opacity: 0.5;
transition: 0.5s;
}

.action .Umenu ul li:hover img{
  opacity: 1;
} 

.action .Umenu ul li a{
display: inline-block;
text-decoration: none;
color: #555;
font-weight: 500;
transition: 0.5s;
}

.action .Umenu ul li:hover a{
  color: #ff5d94;
}

.Noticia{
  position:relative;
  width: auto;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  padding: 5px;
  margin: 20px;
  background-color:  rgba(228, 228, 228, 0.13);
}

.Respuestas{
  position: relative;
  width: 90%;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  padding: 5px;
  margin: 20px;
  background-color:  rgba(228, 228, 228, 0.13);
  margin-left: 100px;
}

.AreaRespuestas{
  position: relative;
  margin-left: 30px;
}


.leftv i{
  margin-left: 3px;
}

.bodyN{
  display: flex;
}

.center{
  margin-left: 20px;
}

.title button{
  visibility: hidden;
}

.title p{
  cursor: pointer;
  color: #47b1fd;
}

.title p :active{
  border-bottom: 1px solid blue;
}

.InfoNoticia{
  display: flex;
  width: 80%;
  margin-left: 10px;
}

.InfoNoticia{
  line-height: 15pt; 
}

.InfoUsuarioPreg{
  position: relative;
  left: 90%;
  bottom: 15px;
}

.InfoUsuarioPreg img{
  border-radius: 5px;
}

.imgPregunta{
  display: flex;
  justify-content: center;
}

.imgPregunta img{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  height: 250px;
  width: 350px;
}

.fav i{
  margin-top: 5px;
  color: blue;
}

.AreaRespuestas{
  position: relative;
  left: 30px;
}

/* navegador botton*/
.bottom-nav{
 position: absolute;
 width: 100%;
 max-width: 40;

}


.bottom-nav ul{
 background: #4a4f52;
 list-style: none;
 margin: 0;
 padding: 0;
}

.bottom-nav ul li{
position: relative;
display: inline-block;
margin-right: -4px;
text-align: center;
}

.bottom-nav ul li:last-child{
margin: 0;
}

.bottom-nav ul li a{
 display: block;
 background: #434444;
 padding: 15px 20px;
 color: white;
 font-size: 14px;
 text-decoration: none;
 transition: 0.2s linear;
}

.bottom-nav ul li a:hover{
  background: rgb(218, 137, 45);
}

.bottom-nav ul li ul{
  position: absolute;
  top:  100%;
  left: 0;
  width: 240px;
  border-bottom: 4px solid rgb(236, 149, 48);
}

.bottom-nav ul li ul li{
  display: block;
  width: 100%;
  margin: 0;
  text-align: left;
}

.bottom-nav ul li ul li a{
  display: block;
  background: #3a3a3a;
  padding: 10px 15px;
}

.bottom-nav ul li ul li a:hover{
  background: #333;
  border-left: 4px solid rgb(236, 149, 48);
}

.container{
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 100px;
  justify-content: center;
}

.qbodtopc{
  border-style: solid;
  border: 4px;
  border-color: black;
  border-bottom: none;
  background: white;
  border: 1px solid rgb(39, 39, 39);
  border-bottom: none;
}

.okq{
  padding: 10px 40px;
  margin-top: 40px;
  border: none;
  font-size: 14px;
  background: #686969;
  color: white;
  outline: none;
  cursor: pointer;
}

.Bvcon,.Bicon{
  background: none;
  border: none;
}

.Bvcon:focus,.Bicon:focus{
  outline:0;
}

.Bvcon:hover i{
  color: red;
}

.Bicon:hover i{
  color: rgb(74, 74, 250);
}

.okq button:hover{
  background: rgb(236, 149, 48);
  color: rgb(43, 42, 42);
}

.irl{
  display: inline-flex;
  justify-content: space-between;
  display: none;
}

.irl button{
  position: relative;
  float: right;
  border: none;
  width: 60px;
  margin-left: 10px;
  justify-content: center;
  background: #686969;
  color: white;
}

.qform{
  background: rgb(248, 248, 248);
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.082);
  width: 100%;
  padding: 10px 20px;
  justify-content: center; 
}

.qhead textarea{
  height: 30px;
  width: 100%;
} 

.videoUrl{
  height: 25px;
  max-height: 25px;
  min-height: 25px;
  width: 900px;
}

.qtextarea{
  height: 200px;
  width: 100%;
  max-height: 300px;
  margin-top: 0px;

} 


.botttontext{
  margin-top: -6px;
  border: 1px solid rgb(39, 39, 39);
  justify-content: center;
  align-items: center;
  border-top: none;
  display: flex;
  justify-content: center;
}

.wrapper{
  position: relative;
  width: 100%;
  width: 560px;
  height: 315px;
  border-radius: 10px;
  background: #fff;
  border: 2px dashed gray;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.wrapper .image{
 position: absolute;
 height: 100%;
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
}

.wrapper .image img{
 height: 100%;
 width: 100%;
 object-fit: cover;
}

.wrapper #cancel-btn{
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 20px;
    cursor: pointer;
    color: black;
    display: none;
}

.wrapper .file-name1{
 position: absolute;
 bottom: 0px;
 width: 100%;
 color: #fff;
 padding: 8px 0;
 font-size: 10px;
 background: #686969;
}

.wraperVid{
  position: relative;
  width: 560PX;
  height: 315PX;
  border-radius: 10px;
  background: #fff;
  border: 2px dashed gray;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.wraperVid{
  position: relative;
  border-radius: 10px;
  background: #fff;
  border: 2px dashed gray;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.qtags select{
  width: 20%;
} 

/* Container*/

.container{
  width: 90%;
  margin-bottom: 20px;
  margin-top: 100px;
  display: flex;
  
}

.left-sidebar {
  background: none;
  margin-right: 5px;
  height: 1000px;
  max-height: 600px;
}

.content {
  display: flex;
  width: 90%;
}

.mainbar{
  border-left: black solid;
  width: 100%;
  padding-left: 50px;
}

.sidebar{
  margin-left: 20px;
}

.Paste{
  position: fixed;
  top: 0;
}

.InfoUsuarioNav{
  top: 0;
  left: 90%;

  /*box*/
  width: 100px;
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}

.InfoUsuarioNav:hover{
  cursor: pointer;
}


ul#container {
  width: 400px;
  border: 2px solid green;
  padding: 5px;
  margin: 10px;
  height: 150px; 
  overflow-y: auto;
}


ul#container.NoticiaFavorita {
  width: 400px;
  border: 2px solid green;
  padding: 5px;
  margin: 10px;
  height: 150px; 
  overflow-y: auto;
}


.nav-user{
  width: 100%;
  z-index: -1;
}
 
.nav-user ul{
   display: flex;
   list-style-type: none;
   height: 40px;
   background: rgb(224, 224, 224);
   box-shadow: 0px 2px 5px rgba(0, 0, 0, .2);
}
 
.nav-user ul li{
  padding: 10px;
  width: 100%;
  cursor: pointer;
  text-align: center;
  transition: all .2s ease-in-out;
  border-left: rgba(0, 0, 0, .2);
  border-right: rgba(0, 0, 0, .2);
  color: black;
}
 
.nav-user ul li.active,
.nav-user ul li:hover{
  box-shadow: 0px -3px 0px rgba(255, 188, 86, 0.9) inset;
 
}

.profile-posttab img{
  height: 200px;
  width: 200px;
  position: relative;
  top: 10px;
}

.imgBack{
  background: linear-gradient(180deg,#b4b4b4 50%, white 50%);
  border: rgba(0, 0, 0, 0.103) 1px solid;
  height: 250px;
  width: 230px;
  display: flex;
  justify-content: center;
}

/*Footer*/
footer{
  width: 100%;
  background: #202020;
  color: white;
 
}

.container-footer{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.Row-footer{
  display: flex;
  justify-content: space-between;
}

.Footer-1{
  max-width: 400px;
}

.Footer-1 h1{
  font-size: 22px;
}

.Footer-1 p{
  font-size: 14px;
  margin-top: 15px;
}

.Footer-2{
  max-width: 400px;
}

.Footer-2 h1{
  font-size: 22px;
}

.Socaial-Row{
  margin-top: 20px;
  display: flex;
}

.Socaial-Row a{
  width: 36px;
  height: 36px;
  color: white;
}

.Socaial-Row label{
  margin-left: 5px;
  color: #c7c7c7;
}

.Socaial-Row label:hover{
  color: #47b1fd;
}

.Footer-3{
  max-width: 400px;
}

.Footer-3 h1{
  font-size: 22px;
}

.Contact-Row1{
  margin-top: 20px;
}

.Contact-Row1 a{
color: white;
width: 36px;
height: 36px;
}

.Contact-Row1 label{
  margin-top: 10px;
   margin-left: 20px;
   max-width: 120px;
}

.container-botfooter{
max-width: 100%;
background: #101010;
display: flex;
padding: 20px;
justify-content: space-between;
}

.Copyright {
display: flex;
}

.Copyright a{
text-decoration: none;
padding-right: 5px;
color: white;
}

.infoFooter a{
  color: #c7c7c7;
}

.infoFooter a:hover{
  color: #47b1fd;
}

